{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class='text-center' style='font-size:18px;'>
                <h3>Know Us Better</h3>
                <p >People believe in PhotoWorld as a reliable source of high-quality visual material. We take pleasure in offering tools and information to help people gain awareness about topics that affect everyone, not just our company. This is who we support.</p>
                <br>
                <p>Our imagery affects hearts, minds, and attitudes; it drives business, ideas, and perceptions. We are acutely aware that our company has a wide-ranging impact on individuals and society on a daily basis. That is why we advocate for creative rights, which help fuel creative professions, press freedom and journalist security, both of which are crucial in a free society, and charity, which helps communities thrive.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}