{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>Photos World - {{title}}</title>
    {% else %}
    <title>Photos World</title>
    {% endif %}

    {% block styles %}
        {% bootstrap_css %}
    {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
    {% block content %}
    
    {% endblock %}

    {% include 'footer.html' %}

    {% block scripts %}
    {% bootstrap_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    {% endblock %}
</body>
</html>