<footer class="container py-5" style="left:0; bottom:0; width:100%;">
    <div class="row" style="display:flex;display-direction:row; justify-content:space-between;">
      <div class="col-12">
        <h5 style="text-align:center;font-size:18px;">Contacts</h5>
        <ul class="list-unstyled text-small" style="text-align:center;">
          <li><a class="text-muted" href="#">PhotoWorld@LLC</a></li>
          <li><a class="text-muted" href="#">PO BOX 268-00100</a></li>
          <li><a class="text-muted" href="#">Nairobi</a></li>

        </ul>
      </div>
      <div class="col-12">
        <h5 style="text-align:center;font-size:18px;">Follow us</h5>
        <ul class="list-unstyled text-small" style="font-size:x-large;text-align:center;">
          <li><a class="text-muted" href="#"><span class="iconify" data-icon="akar-icons:facebook-fill"></span></a></li>
          <li><a class="text-muted" href="#" ><span class="iconify" data-icon="akar-icons:twitter-fill" data-width="20"></span></a></li>
          <li><a class="text-muted" href="#"><span class="iconify" data-icon="ant-design:instagram-filled"></span></i></a></li>
          <li><a class="text-muted" href="#"><span class="iconify" data-icon="akar-icons:github-fill"></span></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12">
        <div class="container text-center">
            <p style="font-size:small"> © Chanai Agwata {% now "Y" %}</p>
        </div>
    </div>
  </footer>