

{% block content %}

<div class="container">
    <!--looping through photoGallery-->
    {% for image_item in gallery %}
    <div class="row">
        <div class="col">
            <div class="card mb-4 shadow-sm" style="width:20rem;height:23rem;">
                <div class="card-header">{{image_item.name}}</div>
                <div class="card-body">
                    <img src="{{image_item.photo.url}}"class="img-responsive" alt="Image">
                    <br>
                    <p class="card-text">
                        {{image_item.description}}
                    </p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#myModal{{image.id}}">View</button>

                    </div>
                    <small class="text-muted">Posted : {{image_item.pub_date|timesince}}</small>

                </div>
            </div>
            
        </div>
    </div>
<script>

</script>

    {% empty %}
    <div class="row">
        <h2 class="text-center">There No Image Items</h2>
    </div>
    {% endfor %}

</div>

{% endblock %}