{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class='container'>
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Welcome to PhotoWorld</h3>
            <p class='text-center' style="font-family:san-serif; font-size:20px;">Browse to view photos from the categories below;</p>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row text-center">
            <div class="col-12" style='display:flex; flex-direction:row;justify-content:center; font-size:18px; margin-top:40px; border-radius:10px;'>
                <a href="{% url 'artpage' %}" style='text-decoration:none; margin-right:50px; background:#6C757D;color:white; padding:10px; border-radius:10px;'>Art</a>
                <a href="{% url 'foodpage' %}" style='text-decoration:none;margin-right:50px;background:#FEC135;color:white; padding:10px; border-radius:10px;'>Food</a>
                <a href="{% url 'naturepage' %}" style='text-decoration:none;margin-right:50px;background:#4FA845;color:white; padding:10px; border-radius:10px;'>Nature</a>
                <a href="{% url 'sportspage' %}" style='text-decoration:none;background:#0C79FA;color:white; padding:10px; border-radius:10px;'>Sports</a>
    
            </div>
        </div>
    </div>

</div>


{% endblock %}

